<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body dir="rtl">
    <center>
        <h1>سروش صدر هستم</h1>
        <p>مدرس و برنامه نویس دات نت</p>
    </center>

    <h2>لینک های کاربردی</h2>
    <p>در این قسمت شما با لینک های کاربردی آشنا میشوید. سعی کنید از همگی آنها استفاده کنید</p>
    <ul>
        <li><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN</a></li>
        <li><a href="https://www.w3schools.com/" target="_blank">W3 Schools</a></li>
        <li><a href="https://devdocs.io" target="_blank">Dev Docs</a></li>
    </ul>

    <hr>

    <p>لیست مستقل</p>
    <ol start="10">
        <li><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN</a></li>
        <li><a href="https://www.w3schools.com/" target="_blank">W3 Schools</a></li>
        <li><a href="https://devdocs.io" target="_blank">Dev Docs</a></li>
    </ol>

    <hr />

    <p>لیست مستقل</p>
    <ol type="i">
        <li><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN</a></li>
        <li><a href="https://www.w3schools.com/" target="_blank">W3 Schools</a></li>
        <li><a href="https://devdocs.io" target="_blank">Dev Docs</a></li>
    </ol>

    <hr>

    <p>
        The &lt;hr&gt; tag is empty, which means that the closing tag isn’t required.
        But in XHTML, the (&lt;hr&gt;) tag must be closed (&lt;hr/&gt;)
    </p>


</body>
</html>